.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-view {
  flex: 1;
  transition: width 0.3s ease;
  overflow: hidden;
}
